# General
*.log
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# IDE / Editor
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# PHP / Laravel
/vendor
/auth.json
.phpunit.result.cache
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/bootstrap/cache

# Node / Frontend
/node_modules
/.next
/out
/coverage

# Docker 
docker-data
*.pid

# Homestead
Homestead.json
Homestead.yaml
